DJANGO_ENV=dev
SECRET_KEY=dev
ALLOWED_HOSTS=*
WEB_URL=http://localhost:3000

LOCAL_FILE_UPLOADS=False

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_LOCATION=
AWS_DEFAULT_REGION=
AWS_QUERYSTRING_AUTH=False

SEND_MAIL=False
SENDGRID_API_KEY=

# Facebook Login
FACEBOOK_APP_ID=
FACEBOOK_APP_CLIENT_TOKEN=
FACEBOOK_APP_SECRET=
# This must match the URL specified in the Facebook app login settings "Valid OAuth Redirect URIs"
FACEBOOK_SUCCESSFUL_LOGIN_URL=

# Google Login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_SUCCESSFUL_LOGIN_URL=
GOOGLE_PROJECT_ID=
GOOGLE_REDIRECT_URI=
