# LATEST REQUIREMENTS
# Install this requirements file to get the latest version of each dependency.
# If there are compatibility problems, install from `requirements.txt` instead.
arrow
boto3
dj-database-url
django
django-cors-headers
django-dotenv
django-extensions
django-filter
django-storages
django-workers
djangorestframework
djangorestframework-camel-case
drf-tracking
facebook-sdk
factory_boy
google-auth-oauthlib
gunicorn
pillow
psycopg2-binary
raven
requests
