boto3==1.7.16
botocore==1.10.16
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.5
django-authtools==1.6.0
django-cors-headers==2.2.0
django-dotenv==1.4.2
django-extensions==2.0.7
django-filter==1.1.0
django-jet==1.0.7
django-storages==1.6.6
djangorestframework==3.8.2
djangorestframework-camel-case==0.2.0
docutils==0.14
drf-schema-adapter==0.9.61
Faker==0.8.13
gunicorn==19.8.1
idna==2.6
Inflector==2.0.12
jmespath==0.9.3
mixer==6.0.1
psycopg2-binary==2.7.4
python-dateutil==2.7.2
pytz==2018.4
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
text-unidecode==1.2
urllib3==1.22
