# LATEST REQUIREMENTS
# Install this requirements file to get the latest version of each dependency.
# If there are compatibility problems, install from `requirements.txt` instead.
arrow
boto3
dj-database-url
django
django-dotenv
django-extensions
django-filter
django-heroku
django-storages
djangorestframework
djangorestframework-camel-case
drf-api-tracking
factory_boy
flake8
gunicorn
pillow
pygments
psycopg2-binary
raven
requests
werkzeug
