name: django-test

on:
  # Trigger the workflow on push or pull request,
  # but only for branches other than master
  push:
    branches-ignore:
      - master
  pull_request:
    branches-ignore:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s
    container:
      image: python:3.11.1
      env:
        POSTGRES_DB: django
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_HOST: postgres
        DJANGO_ENV: staging
        SECRET_KEY: test
    steps:
    - uses: actions/checkout@v3

    - name: Django test
      run: |
        apt-get update -qy
        apt-get install -y python3-dev python3-pip
        pip3 install -r requirements.txt
        pip3 install flake8
        python3 manage.py test apps

  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          ignore: "E501,E722,F821,W504 app/ project/ libs/"
          max-line-length: "100"
